# This workflow will do a clean installation of node dependencies, check linting and build
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Check Linting
        run: pnpm run lint

      - name: Check Format
        run: pnpm run format

      - name: Playgourd build check
        run: pnpm run build

      - name: Generate static site
        run: pnpm run generate

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: .output/public

  deploy:
    runs-on: ubuntu-latest
    needs: build  # Ensure this job runs only after the `build` job

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: output
          path: .output/public

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .output/public  # The folder to deploy (output of `pnpm run generate`)
